.custom-bg-color {
    background-color: #df9329e4; /* Custom background color */
  }
  
  .custom-bg-white {
    background-color: #e1d6c5; /* Custom background color */
  }
  
  .custom-bg-light {
    background-color: #d29696; /* Custom background color */
  }

  .login-btn{
    margin-bottom: 10px;
  }
  